/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/*------------------------------------*/

.page-header {
    margin-top: 15px;
    padding-bottom: 0px;
}

.page-header .pull-right a {
    font-size: 50%;
}

.sub-header {
    padding-bottom: 9px;
    border-bottom: 2px solid #eee;
}

.form-group > .radio {
    margin: 0px;
}

.form-group > .checkbox {
    margin: 0px;
}

.radio label {
    margin-right: 20px;
}

.checkbox label {
    margin-right: 20px;
}

.form-group > .btn {
    min-width: 100px;
}

#fieldset-control {
    border-top: 1px solid #e5e5e5;
}

#fieldset-control .form-group {
    margin-top: 15px;
    margin-bottom: 0px;
}

label.col-sm-2 {
    padding-right: 0px;
}

.form-group-control {
    margin-bottom: 0px;
}